body{

    background-color: #825f91;

}
.names{
    color: white;
    color: #ffbf95;
    font-size: 21px;
    text-decoration: none;
    cursor: pointer;
}
.navbar{

    color: white;
    color: white;
    font-size: 21px;
    text-decoration: none;
    cursor: pointer;
}